*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #525FE1;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: #EFF2F1;   
    width: 50rem;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}
.div_img{
    text-align: center;
}
.div_img h2{
    margin-top: 2rem;
}
img{
    border-radius: 18px;
}
.Texto{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 2rem;
    color: black;
}
h2{
    color: #F86F03;
}
.selecione{  /* texto */
    color: #F86F03;
    font-weight: bold;
}
#selected{ /* slect */
    width: 100%;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    font-size: 2rem;
}
.conteudo{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.btns{
    width: 100%;
    display: flex;
    gap: 10px;
}
.btns .btn{
    width: 50%;
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 1.8rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(133, 133, 133, 0.432);
}

#btn2{
    background-color: rgb(221, 0, 0);
}
#btn2:hover{
    box-shadow: 0px 0px 40px -10px rgb(255, 0, 0);
}
#btn1{
    background-color: rgb(0, 197, 43);
}
#btn1:hover{
    box-shadow: 0px 0px 40px -10px rgb(0, 255, 55);
}
li{
    list-style: none;
}
.div_input{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    gap: 10px;
    justify-content: space-evenly;
}
#btn_enviar{
    width: 100%;
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 1.8rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(3, 255, 3);
    box-shadow: 2px 2px 6px rgba(133, 133, 133, 0.432);
}
@media (width <523px) {
    .container{
        height: auto;
        width: 90%;
        padding: 20px 0px;
    }
    .img_boot{
        width: 200px;
    }
    .Texto{
        font-size: 1.6rem;
    }
}