*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    width: 100%;
    height: 20%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.title{
    grid-area: 1/1/2/-1;
    display: flex;
    justify-content: center;
    align-items: end;
}
.dados{
    grid-area: 2/1/-1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 3rem;
}
h1{
    text-align: center;
    font-size: 5rem;
}


main{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subContainer{
    width: auto;
    height: auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}
/** Horizontal -> left **/
.flip:hover .card-inner {
    transform: rotateY(-180deg);
}

.flip .card-front {
    transform: rotateY(-180deg);
}


/* The flip card container - set the width and height to whatever you want*/
.card {
    background-color: transparent;
    width: 100px;
    height: 150px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
/* This container is needed to position the front and back side */
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}
  
/* Position the front and back side */
 
.card-back,.card-front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* It fits the image in the container */
.card-front img,
.card-back img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}